.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.portal-image, .portal-image img {
  height: 100vh;
}

.portal-form {    
  width: 100%;
}

.portal-form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}
.portal-form__container--subtitle {
  font-size: 30px;
  padding: 6px 0;
}

.portal-form__container--bold {
  font-weight: 600;
}

.portal-form__container--small {
  font-size: 14px;
}

form {
  padding-top: 18px;
}

input {
  display: block;
}

/*
Colors
*/
.color-grey {
  color: #919191;
}

.color-blue {
  color: #024a91;
}

/*
Flexbox
*/
.flex {
  display: flex;
}